<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bookmarx</title>
    <script src="/bundle.js"></script>
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 0px">
        <div class="bm-container dark-primary-color ">
            <form class="bm-user" action="/forgot" method="POST">
                <h4 class="bm-title"><a href="/">Bookmarx</a></h4>
                <h5 class="">Request password reset</h5>
                <label for="email">Email</label>
                <input class="u-full-width" type="email" placeholder="test@mailbox.com" name="email" id="email">
                <br>
                <button class="button" style="background-color: white;">Request</button>
            </form>
            <p style="color: white; padding: 15px; font-size: 20px"><%= errorMessage %></p>
        </div>
</body>
</html>
