<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bookmarx</title>
    <script src="/bundle.js"></script>
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 0px">
        <div class="bm-container dark-primary-color ">
            <form class="bm-user" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
                <h4 class="bm-title"><a href="/">Bookmarx</a></h4>
                <h5 class="">Login</h5>
                <label for="email">Email</label>
                <input class="u-full-width" type="email" placeholder="test@mailbox.com" name="email" id="email">
                <label for="password">Password</label>
                <input class="u-full-width" type="password" placeholder="Password" name="password" id="password">
                <br>
                <input class="button-primary" type="submit" value="Login">
                <a class="button" style="background-color: white;" href="/signup">Sign Up</a>
                <a class="text-primary-color" href="/forgot">Forgot password?</a>
            </form>
            <p style="color: white; padding: 15px; font-size: 20px"><%= errorMessage %></p>
        </div>
</body>
</html>
