<div class="bm-container">
    <nav class="bm-nav dark-primary-color">
        <% include partials/header %>
    </nav>
    <div class="bm-content">
        <% include partials/list %>
    </div>
    <footer class="bm-footer">

            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
            </ul>

    </footer>
</div>

<% if(modals.addModal) { %>
<%    include partials/addModal %>
<% } else if(modals.editModal) { %>
<%    include partials/editModal %>
<% } else if(modals.addFolderModal) { %>
<%    include partials/addFolderModal %>
<% } else if(modals.editFolderModal) { %>
<%    include partials/editFolderModal %>
<% } else if(modals.deleteModal) { %>
<%    include partials/deleteModal %>
<% } else if(modals.importModal) { %>
<%    include partials/importModal %>
<% } else if(modals.changeModal) { %>
<%    include partials/change %>
<% } %>
