<!-- Add Folder Modal -->
<div id="openAddFolderModal" class="modal-dialog">
    <section>
        <form action="#" >
            <header class="modal-header dark-primary-color">
                <h2>Add Folder</h2>
            </header>
            <div class="modal-body">
                <label for="name-folder">Name</label>
                <input type="text" placeholder="Name" id="name-folder">
                <label for="description-folder">Description</label>
                <textarea placeholder="Description" id="description-folder"></textarea>
                <label for="keyword-folder">Keyword</label>
                <input type="text" placeholder="Keyword" id="keyword-folder">
            </div>
            <footer class="modal-footer">
                <!-- <a href="#close" title="Close" class="button">Delete</a> -->
                <!-- <a href="#close" title="Close" class="button button-danger">Delete</a> -->
                <a href="#close" title="Close" class="button">Cancel</a>
                <a href="#close" title="Close" class="button button-primary">Save</a>

            </footer>
        </form>
    </section>
</div>
