<div id="openAddModal" class="modal-dialog">
    <section>
        <form action="/v1/bm/add/" method="POST">
            <header class="modal-header dark-primary-color">
                <h2>Add Bookmark</h2>
            </header>
            <div class="modal-body">
                <label for="name-add">Name</label>
                <input type="text" placeholder="Name" id="name-add" name="title">
                <label for="address-add">URL</label>
                <input type="text" placeholder="URL" id="address-add" name="url">
                <label for="description-add">Description</label>
                <textarea placeholder="Description" id="description-add" name="description"></textarea>
                <label for="keyword-add">Keyword</label>
                <input type="text" placeholder="Keyword" id="keyword-add" name="keywords">
            </div>
            <footer class="modal-footer">
                <!-- <a href="#close" title="Close" class="button">Delete</a> -->
                <!-- <a href="#close" title="Close" class="button button-danger">Delete</a> -->
                <a href="/v1/bm/" title="Close" class="button">Cancel</a>
                <button input="submit" class="button button-primary">Save</button>

            </footer>
        </form>
    </section>
</div>
