<form>
    <div class="bm-nav-top row">
        <h4 class="bm-title">Bookmarx</h4>
        <div class="right">
            <a href="#openAddModal" class="button fa fa-plus fa-2x" aria-hidden="true" title="Hide/Show"></a>
            <a href="#openAddFolderModal" class="button fa fa-folder fa-2x" aria-hidden="true" title="Hide/Show"></a>
            <a href="#" class="button fa fa-bars fa-2x" aria-hidden="true" title="Hide/Show"></a>
        </div>
    </div>
    <div class="bm-nav-bottom row">
        <input id="bm-search" type="text" placeholder="Search bookmarks">
        <select id="bm-sort">
            <option value="Option 3">Most Recent</option>
            <option value="Option 1">Favorites</option>
            <option value="Option 2">Alphabetical</option>
            <option value="Option 4">Date</option>
        </select>
    </div>
</form>
