<nav>
    <div class="bm-nav-top row">
        <h4 class="bm-title">Bookmarx</h4>
        <div class="right">
            <a id="bm-add" href="/v2/bm/addForm" class="button button-clear in in-plus in-lg" aria-hidden="true" title="Add Bookmark" onClick="bm.bookmark.openAddModal(event)"></a>
            <a id="bm-add-folder" href="/v2/folder/addForm" class="button button-clear in in-folder-plus in-lg" aria-hidden="true" title="Add Folder" onClick="bm.folder.openModal(event)"></a>
            <div class="dropdown">
                <a class="button in in-cog in-lg"></a>
                <div class="dropdown-content">
                    <ul>
                        <li>
                            <a href="#" onClick="bm.bookmark.openImportModal(event)"><i class="in in-upload"></i>  Import</a>
                        </li>
                        <li>
                            <a href="/v2/bm?download=true"><i class="in in-download" download></i> Export</a>
                        </li>
                        <li>
                            <a href="#" class="" onClick="bm.bookmark.openChangeModal(event)"><i class="in in-key"></i> Change Password</a>
                        </li>
                        <li>
                            <a class="" href="/logout" class="" title="Logout"><i class="in in-exit"></i>  Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bm-nav-bottom row">
        <form id="bm-search-form" action="#" method="GET">
            <input id="bm-search"
                   type="text"
                   name="keyword"
                   onKeyDown="if(event.keyCode==13) bm.bookmark.search(event);"
                   onfocus="bm.bookmark.searchFocus(event, 1)"
                   onblur="bm.bookmark.searchFocus(event, 0)"
                   placeholder="Search bookmarks">
            <button id="bm-search-button" type="button" class="button sb-button-submit in in-search in-md" onClick="bm.bookmark.search(event)"></button>
        </form>
        <form id="bm-sort-form" action="#" method="GET">
            <select id="bm-sort" name="orderBy">
                <% dd.forEach(function(val, key){%>
                    <option value="<%= val.value %>" <%= val.selected %>><%= val.name %></option>
                <% }); %>

            </select>
            <button type="submit" id="bm-filter-button" class="button bm-icon-button in in-filter in-md" onClick="bm.bookmark.filter(event)"></button>
        </form>
    </div>
</nav>
