.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    /*opacity: 1;*/
    /*pointer-events: none;*/
}
.modal-dialog:target {
    /*visibility: visible;*/
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    opacity: 1;
    pointer-events: auto;
}
.modal-dialog > section {

    min-width: 300px;
    max-width: 500px;
    position: relative;
    margin: 5% auto;
    /*padding: 5px 20px 13px 20px;*/
    /* border-radius: 10px; */
    background: white;
    /*background: #4fc3f7;*/
    /* background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999); */
}

.modal-dialog .modal-body, .modal-dialog .modal-header, .modal-dialog .modal-footer {
    padding: 0px 20px 0px 20px;
}

.modal-dialog .modal-header h2 {
    /*border-bottom: solid;*/
    color: white;
}
.modal-body input, .modal-body textarea{
    width: 100%;
}

.modal-dialog .modal-footer {
    padding-top: 15px;
    /*border-top-style: solid;*/
    border-top: #B6B6B6 solid 2px;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/* Larger than mobile */
@media (max-width: 400px) {
    .modal-dialog > section {
        padding: 0;
        margin: 0;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {}